
.img{
    width:90px;
}
.navbar-brand{
    background-color: red;
}
a{
    color:black;
    
}
body{
    background-color: lightgrey;
}
.card{
    height:auto;
    width:auto;
   right:50px;
   left:50px;
   padding:10px;
}
header{
    height:60px;
}
.card-body{
    background-color:pink;
}
.nav-item{
    font-family: "rumba-extra", sans-serif;
    font-weight: 400;
    font-style: normal;
color:black;
font-size:25px;
}
div.line{
    width:auto;
    height:500px;
    padding:500px;
    background-color: rgb(202, 81, 122);
}
.rumba-extra{
font-family: "rumba-extra", sans-serif;
font-weight: 400;
font-style: normal;
color:black;
}
.d-block{
    height:800px ;
}
.guyot-headline{
font-family: "guyot-headline", sans-serif;
font-weight: 400;
font-style: normal;
font-size:40px;
}
.lePeek span { animation-name: lePeek }
@keyframes lePeek {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}